body{                               
    margin: 0;
    padding: 0;
    
    padding-top: 120px;

}

header{
    
    margin-top: 0%;
    border: solid black 2px;
    
    height: 125px;
    background: linear-gradient(rgb(128, 212, 220),rgb(94, 103, 228));
    position: fixed;   /* To make the header section stay when scrolled */
  top: 0;
  left: 0;           
  width: 100%;       
  z-index: 1000;   /* To make header not overlap with other contents when scrolling */
}
.image{
    height: 60px;
    width: 60px;
    position: relative;
    top: -100px;
    margin-left: 480px;
    align-items: center;
}
h1{
    text-align: center;
    justify-content: center;      /* To position the platform name and logo in the centre */
    display: flex;
    font-size: 1.8rem;
    color: rgb(6, 29, 113);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icon{
    font-size: 30px;
    width: 30px;
    height: 30px;
    padding-left: 2%;  /* To position the hamburger menu in left corner as in professional websites */
    padding-top: 0%;
    margin-top: 0;
    cursor: pointer;
    color: #6c0641;
    cursor: pointer;
    transition: all 0.3 ease;
    
    box-sizing: border-box;
    
}
.icon:hover{
    transform: translateX(5px);   /* To give motion effect to the icon */
    
}
ul li a{
    list-style: none;
    text-decoration: none;
    color: #090202;
    block-size: auto;
    font-size: large;
    font-style: normal;
    
}
ul li{
    list-style: none;
    text-decoration: none;
    padding-bottom: 20px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3 ease;

}
ul li:hover{
    text-decoration: underline rgb(6, 1, 1);
    
}
.fill{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1px;
    margin-top: 2%;
    flex-direction: row;
    
    
}

#searchbar{
    height: 38px;
    width: 500px;
    border-radius: 5px;
}
#find{
    right: 5%;
    padding-right: 50px;
    color: rgb(19, 107, 166);
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#search-button{
    border-radius: 5px;
    
    display: flex;
    flex-direction: row;
    
    background-color: #61b7f1;
    
    align-items: center;
    justify-content: center;
    width: 90px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#search-button:hover{
    
    transform: scale(1.05);
    
}
.quote1{
    
    border: rgb(210, 207, 44) solid 3px;
    width: 400px;
    margin-top: 2%;
    background: linear-gradient( rgb(241, 200, 36),rgb(226, 128, 17));
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 3px#cd7810;    /* To make a glowing effect on the quotes to highlight them */

}
.quote1:hover {
    transform: translateX(1.8rem);
    
}

#text1{
    font-size: 27px;
    color: #1015a3;
    
}
#text2{
    border: rgb(210, 207, 44) solid 3px;
    font-size: 27px;
    width: 420px;
    height: 80px;
    margin-left: 72%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    background: linear-gradient( rgb(241, 200, 36),rgb(226, 128, 17));
    cursor: pointer;
    color: #1015a3;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 3px#cd7810;
    margin-top: 1px;
}
#text2:hover{
    transform: translateX(-1.8rem);
}
#skills{
    
    font-size: large;
    color: #000;
    display: flex;
    left: 33%;
    
    justify-content: center;    /* To showcase the strengths of this platform */
    
    gap: 5px;
    top: 86px;
    position: absolute;
    font-weight: 600;
    word-spacing: 8px;
    
}
.button{
    display: flex;
    gap: 15px;
    
}
#list-container{
    
    z-index: 999;   /* To prevent the previous search list from overlapping with other content */
    top: 190px;     /*  To position the searches list right below the search bar */
    left:38.75%;
    height: 150px;
    width: 30.6%;
    border: 2px solid black;  /*  To make the list more notable with a border */
    text-align: left;
    overflow: visible;
    position: absolute;  /*  To make the list stay in the exact given position */
   
    
}
#list-container.active{    /*  To make the list border appear when user searches something, but more refinement needed further */
    display: block;
    display: flex;
    flex-direction: column;  /*  To make the searches store in the list one below the other */
}

.menu{
    display: none;     /* To hide the menu list except when it is click opened */
    border: #930679 solid;
    margin-top: 4%;
    margin-left: 2%;
    padding-top: 5px;
    width: 150px;
    align-items: center;
    justify-content: center;
    background-color: #83c7de;
    position: fixed;
    z-index: 1001;
    overflow: visible;
}

.menu.active{   /*  To make the menu list appear when the icon is clicked */
    display: block;
overflow: visible;
     
}
.quote1,.quote2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(32, 10, 141);
    text-align: center;
    position: relative;
    font-size: medium;
    
    
}

.promote{
    
    color: #070000;   /* To showcase the advantages of this platform */
    margin-top: 240px;
    left: 33%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    justify-content: center;
    top: 5px;
}

#line1,#line2,#line3{
    font-size: x-large;
    font-weight: 800;
}
#image1{
    top: 270px;
    left: 29%;
    display: flex;
    flex-direction: row;
    opacity: 0.4;
    position: absolute;
    height: 200px;
    width: 290px;
}
#image2{
    top: 270px;
    left: 50%;
    display: flex;
    flex-direction: row;
    opacity: 0.4;
    position: absolute;
    height: 200px;
    width: 290px;
}
#courses{
    top: 460px;
    left: 2%;
    display: flex;
    font-size: xx-large;
    position: absolute;
    color: rgb(9, 9, 109);
    font-weight: bold;
}
.it-courses{   /* Side headings of course */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    text-align: center;
    font-size: large;
    margin-top: 9%;
}
.it-courses img{
    width: 101%;
    height: 160px;
}
.fullstacks,.android,.cyber,.cloud{   /* Individual course cards having course image and title */
    border: solid gray 2px;
    padding: 10px;
    background: linear-gradient(rgb(245, 234, 108), rgb(135, 237, 233), rgb(146, 247, 200));
    cursor: pointer;
    transition: all 0.3s ease;
}
.fullstacks:hover,.android:hover,.cyber:hover,.cloud:hover{ /* To highlight course cards when hovered */
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgb(241, 211, 163);
}
.trending{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    text-align: center;
    font-size: large;
    margin-top: 10%;
}
hr{   /* To make a partition line between sections */
    
    border: solid 3px rgb(120, 173, 246);
    margin-top: 4%;
    box-shadow: 0 0 8px rgb(179, 79, 237);
    
}
.trending img{
    width: 101%;
    height: 160px;
}
#trend{
    top: 1010px;
    left: 2%;
    display: flex;
    font-size: xx-large;
    position: absolute;
    color: rgb(9, 9, 109);
    font-weight: bold;
}
.aiml,.data,.digital,.stock{
    border: solid gray 2px;
    padding: 10px;
    background: linear-gradient(rgb(245, 234, 108), rgb(135, 237, 233), rgb(146, 247, 200));
    cursor: pointer;
    transition: all 0.3s ease;
}
.aiml:hover,.data:hover,.digital:hover,.stock:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgb(241, 211, 163);
}
#recog{
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    margin-top: 4%;
}

.recognition{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    padding: 1px;
    justify-content: space-around;
    gap: 1%;
    font-size: x-large;
    color: #c51ea9;

}
.partner,.partners{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    
}
.partner1,.partner2,.partner3,.partner4,.partner5,.partner6{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    justify-content: space-evenly;

}
.partner4{
    margin-left: 2%;
}

.partner1 img,.partner2 img,.partner3 img,.partner4 img,.partner5 img,.partner6 img{    /* To give logos for different partners */
    width: 23%;
    height: 60px;
    padding-right: 8px;
    
}

.first{
    padding-bottom: 5px;
    margin-bottom: 15px;

}
#our{
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    margin-top: 4%;
}
.list{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    
    align-items: center;
    justify-content: space-evenly;
    
}
.list li{
    
    
    
    list-style-type: none;
    text-decoration: none !important;
    font-size: larger;
    cursor: default;
    font-weight: 570;
}
footer{
    background-color: rgb(209, 207, 207);
    border-top: 6px solid;
    margin: 0;
    
    
    bottom: 0;
    width: 100%;
}
.liners{   /* To imitate real websites by giving company details in footer */
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 20px;
}
.about{
    margin-left: 1%;
}
#address{
    font-size: larger;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    text-decoration: underline 2px;
}
.contacts{
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px !important;
    
}
#copyright{
    border: 1px solid gray;
    font-size: medium;
    padding: 25px;
    padding-left: 20px;
}



@media (max-width: 600px) {   /*  Tried to make this webpage responsive in mobile screen but not working*/
    .image img{
        justify-content: left;
        left: 0%;
        
    }
    hr{
        max-width: 100%;;
    }
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}




@media (min-width: 768px) {                 /* This width represents screen-size of tab. */
    h1{
        font-size: 2.1rem;
    }
    p{
        font-size: large;

    }
    .icon{
    font-size: 35px;
    }
    .menu{
        margin-top: 2%;
    }
}





@media (min-width: 1024px){                /* This width represents screen-size of laptop. */
    h1{
        font-size: 2.4;
    }
    p{
        font-size:xx-large;

    }
    .icon{
    font-size: 35px;
    }
    .menu{
        margin-top: 2%;
    }
}
